@model Tipage.Web.Models.Shift

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Start.Date.ToString("d")</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Model.Start.ToString("t")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CashTips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CashTips)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditTips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditTips)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
