@model Tipage.Web.Models.ViewModels.ShiftViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Shift.Start.ToString("d")</h2>

<div>
    <hr />
    <h1 class="total-tip">$71.00</h1>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shift.Start)
        </dt>
        <dd>
            @Model.Shift.Start.ToString("t")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift.End)
        </dt>
        <dd>
            @Model.Shift.End.ToString("t")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift.CashTips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.CashTips)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift.CreditTips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.CreditTips)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift.TotalTips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.TotalTips)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourlyWage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourlyWage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusserTipout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusserTipout)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RunnerTipout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunnerTipout)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Shift.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
