@model Tipage.Web.Models.ViewModels.ShiftListViewModel

@{
    ViewData["Title"] = "Shifts";
}

<h2>Shifts</h2>
<h1 class="total-tip">@Html.DisplayNameFor(model => model.TotalTips) @Html.DisplayFor(model => model.TotalTips)</h1>
<hr/>
<p>
    <a asp-action="Create">New Shift</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Total Tips
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Shifts)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Start.ToString("d") (@item.Start.DayOfWeek)</a>
            </td>
            <td>
                @Html.DisplayFor(s => item.TotalTips)
            </td>
        </tr>
    }
    </tbody>
</table>